* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  opacity: 0.9;
  color: seashell;
  list-style: none;
  text-align: center;
}
body {
  background-color: black;
}
.row img {
  width: 300px;
  height: 200px;
}

.logo {
  height: 50px;
}

h3,
h4,
li,
a {
  font-size: 22px;
}
h5 {
  font-size: 18px;
}
h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

header {
  background-color: black;
  position: fixed;
  top: 0;
  border-bottom: 1px solid seashell;
  width: 100%;
  height: 69px;
  display: flex;
  z-index: 99;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  ul {
    li {
      display: inline-block;
      margin-right: 15px;
    }
  }
}

.container {
  width: 1200px;
  margin: 69px auto 0px;
}

#banner {
  height: 700px;
  background: url(../images/img-mission-background.jpg);
  display: flex;
  align-items: center;
}

.mission {
  width: 100%;
  padding: 10px;
  background-color: black;
}

#featured {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h4 {
    margin-bottom: 10px;
  }
  .tea {
    margin: 10px 15px;
    img {
      margin-bottom: 10px;
    }
  }
}

.row {
  justify-content: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
  background: url(../images/img-locations-background.jpg);

  .box {
    width: 300px;
    margin: 0 20px;
    background: #000;
    opacity: 1;
    padding: 15px;
  }
  li {
    margin: 30px 0;
  }
}

.contact {
  width: 1000px;
  height: 200px;
  margin: 10px auto 0;
  text-align: center;

  h5 {
    margin-bottom: 30px;
  }
}

footer {
  padding: 15px 20px;
  display: flex;
  justify-content: flex-start;
}
